body {
    background: linear-gradient(to right, rgb(31, 127, 154), rgb(190, 180, 114));
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

form {
    padding: 4em;
    text-align: center;
    position: relative;
    transition: all 0.2s ease-in-out;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6.0px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

form h2 {
    font-weight: bold;
    color: #000;
    font-size: 1.8rem;
    margin-top: 0;
    margin-bottom: 20px;
}

form a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 12px;
}

form a:hover {
    text-shadow: 2px 2px 6px #00000040;
}

form a:active {
    text-shadow: none;
}

form input{
    width: 200px;
    padding: 1em;
    margin-bottom: 1em;
    border: none;
    border-radius: 5000px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6.0px);
    font-family: Montserrat, sans-serif;
    color: #000;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

form button{
    border-radius: 2em;
    height: 35px;
    margin-top: 10px;
    font-size: 1rem;
    background: #17b978;
    color: #ffffff;
}

form input[type="button"]:hover {
    cursor: pointer;
}

form input[type="button"]:active {
    background: rgba(255, 255, 255, 0.25);
}

form:hover {
    margin: 4px;
}

::placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: #000;
}

.drop {
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    position: absolute;
    transition: all 0.2s ease;
}

drop-1 {
    background: linear-gradient(to right, rgb(142, 45, 226), rgb(74, 0, 224));
    height: 80px;
    width: 80px;
    top: -20px;
    left: -40px;
    z-index: -1;
}

drop-2 {
    background: linear-gradient(to right, rgb(255, 65, 108), rgb(255, 75, 43));
    height: 80px;
    width: 80px;
    bottom: 90px;
    right: -50px;
    z-index: -1;
    border-radius: 50%;
}

a,
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}