@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    
    font-family: 'Open Sans', serif
}

strong {
    color: rgb(37, 36, 36);
}

.bg-text {
    backdrop-filter: blur(5.0px);
    transition: all 0.2s ease-in-out;
    background: rgba(158, 155, 155, 0.212);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    border: 1px solid rgba(14, 6, 6, 0.18);
    font-weight: bold;
    color: rgb(0, 0, 0);
    border: 3px solid #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%
}

.col {
    backdrop-filter: blur(6.0px);
    width: "100%"
}

.container {
    backdrop-filter: blur(6.0px);
    margin-top: 50px;
    margin-bottom: 50px
}

.card {
    backdrop-filter: blur(6.0px);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.10rem
}

.card-header:first-child {
    backdrop-filter: blur(6.0px);
    border-radius: calc(0.37rem - 1px) calc(0.37rem - 1px) 0 0
}

.card-header {
    backdrop-filter: blur(6.0px);
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.track {
    backdrop-filter: blur(6.0px);
    position: relative;
    background-color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.4);
    height: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px
}

.track .step {
    backdrop-filter: blur(6.0px);
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 25%;
    margin-top: -18px;
    text-align: center;
    position: relative
}

.track .step.active:before {
    backdrop-filter: blur(6.0px);
    background-color: rgb(0, 0, 0);
    background-color: rgba(255, 77, 53, 0.4);
}

.track .step::before {
    backdrop-filter: blur(6.0px);
    height: 7px;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: 18px
}

.track .step.active .icon {
    backdrop-filter: blur(6.0px);
    background-color: rgb(0, 0, 0);
    background-color: rgba(255, 77, 53, 0.4);
    color: #fff
}

.track .icon {
    backdrop-filter: blur(6.0px);
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: relative;
    border-radius: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(248, 248, 248, 0.4);
}

.track .step.active .text {
    backdrop-filter: blur(6.0px);
    font-weight: 400;
    color: #000
}

.track .text {
    backdrop-filter: blur(6.0px);
    display: block;
    margin-top: 7px
}

.itemside {
    backdrop-filter: blur(6.0px);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%
}

.itemside .aside {
    backdrop-filter: blur(6.0px);
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.img-sm {
    backdrop-filter: blur(6.0px);
    width: 80px;
    height: 80px;
    padding: 7px
}

ul.row,
ul.row-sm {
    list-style: none;
    padding: 0
}

.itemside .info {
    padding-left: 15px;
    padding-right: 7px
}

.itemside .title {
    backdrop-filter: blur(6.0px);
    display: block;
    margin-bottom: 5px;
    color: #212529
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

p title {
    backdrop-filter: blur(6.0px);
    color: black;
}

.btn {
    
    background: transparent;
    border-color: rgb(0, 0, 0);
}

.btn:hover {

    background-color: rgb(0, 0, 0);
    background-color: rgba(184, 183, 183, 0.4);
    border-color: rgb(0, 0, 0);
}

.title {
    backdrop-filter: blur(6.0px);
    color: rgb(187, 187, 187);
}
